{% extends "base.html" %}
{% load staticfiles %}
{% block css_script %}    {% endblock %}
{% block script %}{% endblock %}
{% block title %}404{% endblock %}

{% block content %}
	<h1>Oops!</h1>
	<p>We can't seem to find the page you're looking for.<p>
	<p>Error code: 404</p>
	<p> Link to Homepage: <a href = "{% url 'project_overview' %}">Homepage</a></p>
    <p> Error message: {{msg}} </p>
{% endblock %}
