{% extends "base.html" %}
{% block title %}Project Overview{% endblock %}
{% load staticfiles %}
{% block script %}
    <script type="text/javascript" src="{% static 'main/js/add_project.js'%}"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}


{% block content %}
<div class="form-background">
    <div class="header-empty-div"></div>
    <div class="error-div">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-danger">
              <strong>ERROR: </strong>{{ message }}
            </div>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="input-form">
      <hr>
      <h3>Project Information</h3>
      <hr>
    	<form method="post" action="{% url 'add_project' %}" enctype="multipart/form-data">
      	<div class="form-group">
        	<label for="project-name">Project Name</label>
        	<input type="project-name" class="form-control" id="project-name" name="project-name" placeholder="Project name" required>
      	</div>
      	<div class="form-group">
        	<label for="project-description">Project Description</label>
        	<input type="project-description" class="form-control" id="project-description" name="project-description" placeholder="Project description" required>
      	</div>

        <div class="form-group">
            <label for="adapter-select">Connector</label>
            <select type="adapter-name" class="form-control" id="adapter-name" name="adapter-name" required>
                <option value="" disabled selected>Select a connector</option>
                {% for adapter in adapters %}
                   <option value= "{{ adapter.name }}" port="{{ adapter.port }}"> {{ adapter.name }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
          <label for="project-logo">Project Logo (PNG file)</label>
          <input type="file" id="project-logo" name="project-logo" required>
        </div>
        <hr>
      	<h3>Available Tool Connectors</h3>
        <hr>
      	<div class="radio">
        	<label>
          	<input type="radio" name="adapter" id="jira"> JIRA </input>
        	</label>
        	<label>
          	<input type="radio" name="adapter" id="bamboo"> Bamboo </input>
        	</label>
            <label>
            <input type="radio" name="adapter" id="bitbucket"> BitBucket </input>
        	</label>
            <label>
            <input type="radio" name="adapter" id="fogbugz"> FogBugz </input>
        	</label>
      	</div>
        <div class="form-group" id="jira-div" style="display:none">
            <label style="display: inline;" for="jira-id">Jira ID </label>
            <a data-toggle="tooltip" title="Enter your project key, found in parentheses next to your project name and in preceding issue labels. (Example: KEY-1234)">
                <img style="max-height: 15px; max-width: 15px; float: none;" src="../static/main/images/tooltip.png">
            </a>
          <input type="jira-id" class="form-control" id="jira-id" name="jira-id" placeholder="Jira ID">
        </div>
        <div class="form-group" id="bamboo-div" style="display:none">
          <label style="display: inline;" for="bamboo-id">Bamboo ID</label>
            <a data-toggle="tooltip" title="Enter your bamboo plan key, found under plan details.">
                <img style="max-height: 15px; max-width: 15px; float: none;" src="../static/main/images/tooltip.png">
            </a>
          <input type="bamboo-id" class="form-control" id="bamboo-id" name="bamboo-id" placeholder="Bamboo ID">
        </div>
        <div class="form-group" id="bitbucket-div" style="display:none">
          <label style="display: inline;" for="bitbucket-team-id">BitBucket User ID</label>
            <a data-toggle="tooltip" title="Enter the user or team id associated with the repository. Look for the id in the URL: https://bitbucket.org/<user-id>/">
                <img style="max-height: 15px; max-width: 15px; float: none;" src="../static/main/images/tooltip.png">
            </a>
          <input type="bitbucket-team-id" class="form-control" id="bitbucket-team-id" name="bitbucket-team-id" placeholder="BitBucket Team ID">
          <BR>
            <label style="display: inline;" for="bitbucket-repo-id">BitBucket Repository ID</label>
            <a data-toggle="tooltip" title="Enter the repository slug. Look for the slug in the URL: https://bitbucket.org/user/<repository-slug>">
                <img style="max-height: 15px; max-width: 15px; float: none;" src="../static/main/images/tooltip.png">
            </a>
          <input type="bitbucket-repo-id" class="form-control" id="bitbucket-repo-id" name="bitbucket-repo-id" placeholder="BitBucket Repository ID">
        </div>
        <div class="form-group" id="fogbugz-div" style="display:none">
          <label style="display: inline;" for="fogbugz-id">FogBugz ID</label>
            <a data-toggle="tooltip" title="Enter your FogBugz key, found under **."> <!--TODO -->
                <img style="max-height: 15px; max-width: 15px; float: none;" src="../static/main/images/tooltip.png">
            </a>
          <input type="fogbugz-id" class="form-control" id="fogbugz-id" name="fogbugz-id" placeholder="FogBugz ID">
        </div>
        <div class="submit-button">
      	  <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <div class="footer-empty-div"></div>
  </div>
{% endblock %}

