<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!--     <link rel="icon" href="../../favicon.ico">
 -->       <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/bootstrap-combined.min.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'main/css/bigBoard.css' %}">
    {% block css_script %}    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color:#242424">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://{{ip}}:8000">Home</a></li>
                <li><a href="http://{{ip}}:8000/organization">Organization</a></li>
                <li><a href="http://{{ip}}:3000/home">Connectors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"> 
                <li>
                    <form class="navbar-form navbar-right">
                        <label class="checkbox">
                           <input type="checkbox" name="autorefresh" id="autorefresh" checked=''>
                           Auto Refresh
                        </label>
                        <div class="input-group" id="auto-refresh-group" style="display:none">
                            <input type="text" class="form-control" placeholder="Minutes" name="interval" id="interval" value="">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="auto-refresh-button">Go</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>