
{% extends "base.html" %}
<!-- TODO: Project name will be passed by the function -->
{% block title %}{{project.name}}{% endblock %}
{% load staticfiles %}

{% block script %}
    <script src="{% static 'main/js/bootstrap.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'buildServer/js/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'buildServer/js/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/highcharts-more.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/export-csv.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/autorefresh.js' %}" type="text/javascript"></script>
    <script src="{% static 'buildServer/js/builds_status.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var builds_status = {{data.builds.builds_status|safe}};
            drawChart(builds_status, "builds_status");
        });
    </script>
{% endblock %}

{% block content %}
<div class="bigboard-container">
    <div id="project-content" class="row-fluid">
        {% if project %}
            <div class="span6 logo-alignment">
                <img src="{{couchdb}}/{{dbName}}/{{project.name}}/logo.png" alt="" title="{{project.name}}" style="height:140px; width:160px; float:left"/>
                <hr class="header-style">
                    <h1 id="p_title">{{project.name}}</h1>
                <hr class="header-style">
                <h6 class="text-center">Note: it may take several minutes for your charts to load.</h6>
            </div>
        {% endif %}
    </div>

    <div class="span4 pull-right case-status-alignment">
        <!-- placeholder -->
    </div>

    <div class="row-fluid pull-left">
        <div class="span6">

            <table class="table" id="project-details" style="border-color: transparent">
                <tbody>
                    <th colspan="2"><h5 style="color:#d0d0d0; font-size:120%;" align="left">Project Details</h5></th>
                    <tr>
                        <td><b>Project Name</b></td>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Project ID</b></td>
                        <td>{{ project.bamboo_id}}</td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>{{ project.description }}</td>
                    </tr>
                    <tr>
                        <td><b>Connector Name</b></td>
                        <td>{{ project.adapter }}</td>
                    </tr>
                    <tr>
                        <td><b>Connector Type</b></td>
                        <td>Bamboo Connector</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div id="project-content" class="row-fluid">
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Builds Status</h4>
            <hr style="margin-top: 0px;">
            <div id="builds_status" class="charts"></div>
        </div>
    </div>

</div>
{% endblock %}
