
{% extends "base.html" %}
<!-- TODO: Project name will be passed by the function -->
{% block title %}{{project.name}}{% endblock %}
{% load staticfiles %}

{% block script %}
    <script src="{% static 'main/js/bootstrap.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'codeRepo/js/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'codeRepo/js/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/highcharts-more.js' %}" type="text/javascript"></script>
    <script src="{% static 'codeRepo/js/repo_activity.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/export-csv.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/autorefresh.js' %}" type="text/javascript"></script>
    <script src="{% static 'codeRepo/js/activity_per_user.js' %}" type="text/javascript"></script>
    <script src="{% static 'codeRepo/js/modification_activity.js' %}" type="text/javascript"></script>
    <script src="{% static 'codeRepo/js/modification_per_user.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var repo_activity = {{data.commits.repo_activity|safe}};
            drawChart(repo_activity, "repo_activity");

            var activity_per_user = {{data.commits.activity_per_user|safe}};
            drawActivityLevelChart(activity_per_user, "activity_per_user");

            var modification_activity = {{data.commits.modification_activity|safe}};
            drawModificationChart(modification_activity, "modification_activity");

            var modification_activity_per_user = {{data.commits.modification_per_user|safe}};
            renderModificationActivityPerUser(modification_activity_per_user, "modification_activity_per");

        });
    </script>
{% endblock %}

{% block content %}
<div class="bigboard-container">
    <div id="project-content" class="row-fluid">
        {% if project %}
            <div class="span6 logo-alignment">
                <img src="{{couchdb}}/{{dbName}}/{{project.name}}/logo.png" alt="" title="{{project.name}}" style="height:140px; width:160px; float:left"/>
                <hr class="header-style">
                    <h1 id="p_title">{{project.name}}</h1>
                <hr class="header-style">
                <h6 class="text-center">Note: it may take several minutes for your charts to load.</h6>
            </div>
        {% endif %}

    </div>
    <div class="span4 pull-right case-status-alignment">
        <!-- placeholder -->
    </div>
    <div class="row-fluid pull-left">
        <div class="span6">

            <table class="table" id="project-details" style="border-color: transparent">
                <tbody>
                    <th colspan="2"><h5 style="color:#d0d0d0; font-size:120%;" align="left">Project Details</h5></th>
                    <tr>
                        <td><b>Project Name</b></td>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Project ID</b></td>
                        <td>{{ project.bitbucket_id}}</td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>{{ project.description }}</td>
                    </tr>
                    <tr>
                        <td><b>Connector Name</b></td>
                        <td>{{ project.adapter }}</td>
                    </tr>
                    <tr>
                        <td><b>Connector Type</b></td>
                        <td>Bitbucket Connector</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div id="project-content" class="row-fluid">
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Repository Activities</h4>
            <hr style="margin-top: 0px;">
            <div id="repo_activity" class="charts"></div>
        </div>
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Activity Level Per User</h4>
            <hr style="margin-top: 0px;">
            <div id="activity_per_user" class="charts"></div>
        </div>
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Modification Activities</h4>
            <hr style="margin-top: 0px;">
            <div id="modification_activity" class="charts"></div>
        </div>
    </div>
    <div id="project-content" class="row-fluid">
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Modification Activities Per User</h4>
            <hr style="margin-top: 0px;">
            <div id="modification_activity_per" class="charts"></div>
        </div>
    </div>



</div>
{% endblock %}
