
{% extends "base.html" %}
<!-- TODO: Project name will be passed by the function -->
{% block title %}{{project.name}}{% endblock %}
{% load staticfiles %}

{% block script %}
    <script src="{% static 'main/js/bootstrap.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/highcharts-more.js' %}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/burndown.js' %}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/case_status.js' %}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/sprint_case_status.js' %}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/pie_chart.js' %}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/workload.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/export-csv.js'%}" type="text/javascript"></script>
    <script src="{% static 'main/js/autorefresh.js' style="text/javascript" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var burndown = {{data.issues.burn_down|safe}};
            drawChart(burndown, "burndown");
            var case_status = {{data.issues.case_status|safe}};
            renderCaseStatus(case_status);
            var sprint_case_status = {{data.issues.sprint_case_status|safe}};
            renderSprintCaseStatus(sprint_case_status);
            var issues_by_priority = {{data.issues.issue_by_priority|safe}};
            drawPieChart(issues_by_priority);
            var workload = {{data.issues.workload|safe}};
            renderWorkload(workload);
            var project_burndown = {{data.issues.project_burndown|safe}};
            drawChart(project_burndown, "project_burndown");
        });
    </script>
{% endblock %}

{% block content %}
<div class="bigboard-container">
    <div id="project-content" class="row-fluid">
        {% if project %}
            <div class="span6 logo-alignment">
                <img src="{{couchdb}}/{{dbName}}/{{project.name}}/logo.png" alt="" title="{{project.name}}" style="height:140px; width:160px; float:left"/>
                <hr class="header-style">
                    <h1 id="p_title">{{project.name}}</h1>
                <hr class="header-style">

                <h6 class="text-center">Note: it may take several minutes for your charts to load.</h6>

            </div>

        {% endif %}

        <div class="span4 pull-right case-status-alignment">
            <hr style="border-color:transparent;">

            <table class="table" id="overall-case-stats">
                <tbody>
                <th colspan="3"><h4 class="text-center">Case Statistics</h4></th>
                    <tr class="totals">
                        <td id="p_total">{{data.issues.status.open}}</td>
                        <td id="p_complete">{{data.issues.status.progress}}</td>
                        <td id="p_active">{{data.issues.status.closed}}</td>
                    </tr>
                    <tr class="labels">
                        <td>Open</td>
                        <td>In Progress</td>
                        <td>Closed</td>
                    </tr>

                </tbody>

            </table>


        </div>

    </div>

    <div class="row-fluid pull-left">
        <div class="span6">

            <table class="table" id="project-details" style="border-color: transparent">
                <tbody>
                    <th colspan="2"><h5 style="color:#d0d0d0; font-size:120%;" align="left">Project Details</h5></th>
                    <tr>
                        <td><b>Project Name</b></td>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Project ID</b></td>
                        <td>
                            {% if project.jira_id %}
                                {{ project.jira_id}}
                            {% elif project.fogbugz_id %}
                                {{ project.fogbugz_id }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>{{ project.description }}</td>
                    </tr>
                    <tr>
                        <td><b>Connector Name</b></td>
                        <td>{{ project.adapter }}</td>
                    </tr>
                    <tr>
                        <td><b>Connector Type</b></td>

                        <td> {% if project.jira_id %}
                                JIRA Connector
                            {% elif project.fogbugz_id %}
                                FogBugz Connector
                            {% endif %}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>






    <div id="project-content" class="row-fluid">
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Project Issue Status per Team Member</h4>
            <hr style="margin-top: 0px;">
            <div id="case_status" class="charts"></div>
        </div>
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Sprint Issue Status per Team Member</h4>
            <hr style="margin-top: 0px">
            <div id="sprint_case_status" class="charts"></div>
        </div>
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Issue Distribution by Priority</h4>
            <hr style="margin-top: 0px">
            <div id="issues_by_priority" class="charts"></div>

        </div>
    </div>
    <div id="project-content" class="row-fluid">
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Sprint Remaining Workload per Team Member</h4>
            <hr style="margin-top: 0px;">
            <div id="workload" class="charts"></div>
        </div>
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Sprint Burndown chart</h4>
            <hr style="margin-top: 0px">
            <div id="burndown" class="charts"></div>
        </div>
        <div class="span4">
            <BR><BR>
                <h4 class="text-left" style="padding-left: 5px; color: #d0d0d0; font-size: 125%;">Project Burndown chart</h4>
            <hr style="margin-top: 0px">
            <div id="project_burndown" class="charts"></div>
        </div>
    </div>

</div>
{% endblock %}
