{% extends "base.html" %}
{% block title %}Project Overview{% endblock %}
{% load staticfiles %}
{% block css_script %}
    <link rel='stylesheet' href="{% static 'main/css/project-overview.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/jquery-ui.css' %}" />
{% endblock %}
{%block script%}
    <script src="{% static 'main/js/jquery-1.11.1.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'issueTracker/js/highcharts.js' %}"></script>
    <script src="{% static 'issueTracker/js/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/export-csv.js'%}" type="text/javascript"></script>
    <script src="{% static 'main/js/highcharts-more.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/global_workload.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/issuestatusbyproject.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var global_workload = {{global_workload|safe}};
            renderGlobalWorkload(global_workload);
            var issue_status_projects = {{issue_status_project|safe}};
            renderIssueProjectStatus(issue_status_projects);
        });
    </script>
{% endblock %}


{% block content %}
    <div class="bigboard-container">
        <div id="overview-slide" class="active item">
            <div id="project-content" class="row-fluid">
                    <div class="span4">
                        <hr class="header-style">
                        <h2 class="text-center">Weekly Workload</h2>
                        <hr class="header-style">
                    {% if issue_status_project %}
                        <div id="global-workload" class="charts"></div>
                    </div>
                    {% else %}
                        <p align="center"><i>Please <a href="http://{{ip}}:3000/add">add an issue tracker adapter</a> to see weekly workload.<BR>
                        Note: it may take several minutes for the data to process.</i></p>
                    </div>
                    {%endif%}
                    <div class="span4">
                        <hr class="header-style">
                        <h2 class="text-center">Issue Status by Projects</h2>
                        <hr class="header-style">
                    {% if issue_status_project %}
                        <div id="issue_status_projects" class="charts"></div>
                    </div>
                    {% else %}
                        <p align="center"><i>Please <a href="http://{{ip}}:3000/add">add an issue tracker adapter</a> to see weekly workload.<BR>
                        Note: it may take several minutes for the data to process.</i></p>
                    </div>
                    {%endif%}

                    <!--*** Template for adding a new chart **-->
                    <!--<div class="span4">-->
                        <!--<hr class="header-style">-->
                            <!--<h4 class="text-center">TBD</h4>-->
                        <!--<hr class="header-style">-->
                        <!--<div id="workload1" class="charts"></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
