{% extends "base.html" %}
{% block title %}Project Overview{% endblock %}
{% load staticfiles %}
{% block css_script %}
    <link rel='stylesheet' href="{% static 'main/css/project-overview.css' %}"
          xmlns:border="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
{% endblock %}
{%block script%}
    <script type="text/javascript" src="{% static 'main/js/project_overview.js' %}"></script>
    <script src="{% static 'main/js/global_workload.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/autorefresh.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
    <div class="bigboard-container">
        <div id="overview-slide" class="active item">
            <div id="content" class="row-fluid">
                    <div class="span8">
                        <div>
                        <h2 class="text-left">Configured Projects <a href="{% url 'project_configuration' %}" class="add" style="font-size:15px;float:right"> Add a project</a></h2>
                         <hr class="header-style">
                        </div>
                        <div style="clear: both">
                        <!--
                            <div class="project-icon">
                                        <div class="overview-icon">
                                            <a href="{% url 'project_configuration' %}" class="add">
                                                <img src="{% static 'main/images/add_project.png' %}" class="img-responsive project-overview">
                                            </a>
                                        </div>
                            </div>-->
                            {% for adapter in adapters %}
                                <div style="clear: both;padding-top: 30px; padding-left: 10px">
                                    <h3 class="text-left" style="background-color: #333; padding-top: 10px; padding-bottom: 10px; padding-left: 20px;padding-right: 20px">
                                        <span> {{ adapter.name}}</span>

                                        <span id="{{ "adapter-span-"|add:adapter.name }}" class="glyphicon glyphicon-chevron-up" style="float: right"></span>
                                        <span id="{{ "adapter-hint-"|add:adapter.name }}" style="float: right; padding-right: 10px; font-size: 15px; color:#0088cc">Hide</span>
                                    </h3>
                                    <h5><span style="clear:both; padding-left: 20px;padding-top: 10px; font-size: 13px; color: #999999; ">
                                            {{ adapter.type}} Connector: <span style="color:#0391ba"><a href="{{ adapter.host }}" target="_blank">{{ adapter.host }}</a></span> </span></h5>
                                    <div id="content" class="row-fluid" style="padding-bottom: 20px">
                                        <div class="content-inner" id= "{{ "content-inner-"| add:adapter.name }}"  style=";">
                                            {% for project in projects %}
                                                {% if project.adapter == adapter.name %}
                                                <div class="project-icon">
                                                    <div class="overview-icon" style="position: relative; left: 0; top: 0;">
                                                        <a href="{% url 'dashboard' project.name %}" class="project-name-link">
                                                        <img src="{{couchdb}}/{{dbName}}/{{project.name}}/logo.png" class="overlay-support" alt="Generic placeholder thumbnail" style="margin-top:21px; margin-bottom:15px">
                                                        </a>
                                                        <a href="{%url 'delete_project' project.name %}" class="edit" onclick="return confirm('Are you sure you want to delete your project {{project.name}}?')"> <img style="height:20px; width:20px" src="{% static 'main/images/delete.png' %}"></a>
                                                    </div>
                                                    <h5 style="color:#a5a5a5;" class="text-center">{{project.name}}</h5>
                                                    {% for key,value in projects_progress.items %}
                                                        {% if project.name == key %}
                                                           <div class="overview-progress">
                                                               <div class="overview-bar" style="width: {{value}}%;"></div>
                                                           </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="span4">
                        <!--Uncomment when build is ready-->
                        <!--<h4 class="text-left">Recent Build Activity</h4>-->
                        <!--<hr class="header-style">-->
                         <!--<div id="buildTable" style="text-align:center">-->
                             <!--<table id="build-activity" style="width:100%; text-align:center">-->
                               <!--<tr style="color:#FFFFFF">-->
                                    <!--<th>#</th>-->
                                    <!--<th>Status</th>-->
                                    <!--<th>Project Name</th>-->
                                    <!--<th>Date</th>-->
                               <!--</tr>-->
                               <!--{% for build in builds %}-->
                                    <!--<tr style="color:#FFFFFF">-->
                                        <!--<td>{{ build.number }}</td>-->
                                        <!--<td>{{ build.status }}</td>-->
                                        <!--<td>{{ build.projectName }}</td>-->
                                        <!--<td>{{ build.date }}</td>-->
                                    <!--</tr>-->
                                <!--{% endfor %}-->
                            <!--</table>-->
                         <!--</div>-->
                        <!-- Case Commits -->
                        <h4 class="text-left">Recent Repository Activity</h4>
                        <hr class="header-style">
                        <table class="table" id="case-activity-commits">
                        <tbody>
                            {% if commits.items %}
                                {% for key1, value1 in commits.items %}
                                        <tr>
                                            <th colspan=4><h5 style="color:#d0d0d0; font-size:120%" align="left">Commits for <span style="color:#0391ba">{{ value1.project_info_to_return.team_id }}/{{ value1.project_info_to_return.repo_id }}</span></h5></th>
                                        </tr>
                                        <tr>
                                            <th>Date</th><th>Commit Message</th><th></th>
                                        </tr>
                                        <tr>
                                            {% for key, value in value1.last_commits %}
                                            <tr>
                                                    <td class="pull-left" width="100px">{{ key | slice:":10" }}</td>
                                                    <td><span style="color:#0391ba">{{ value.comment }}</span></td>
                                                    <td><span id = {{ "icon-"| add:value.id }} class="glyphicon glyphicon-chevron-down" aria-hidden="true" ></span></td>
                                            </tr>

                                                <tr id = "{{ "msg-"| add:value.id }}" colspan="100%" style="display:none">
                                                    <td></td>
                                                    <td colspan="2"><b>User:</b> <span style="color:#0391ba">{{value.author}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<b>Commit:</b> <a href="https://bitbucket.org/{{value1.project_info_to_return.team_id}}/{{value1.project_info_to_return.repo_id}}/commits/{{value.id}}" target="_blank">{{value.id}}</a></td>
                                                </tr>

                                                {% endfor %}


                                        </tr>


                                {% endfor %}
                            {% else %}

                                <tr style="background-color: transparent; border-bottom:#333; border-top:#333; border-right:#333;border-left:#333;">
                                    <td><span style="color:#a5a5a5;"><i>Please <a href="http://{{ip}}:8000/project_configuration">add a code repository project</a> to see commit data.</i></span></td>
                                </tr>

                            {% endif %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog" title="Delete Project" style="display:none">
        <p>Are you sure you want to delete this project from the dashboard?</p>
    </div>
{% endblock %}
