body {
  padding-top: 50px;
}
.heading {
  color: #9d9d9d; 
  font-size: x-large; 
  margin: 10px;
}

.project-overview{
	border: 1px solid rgba(0,0,0,.0001); 
	height: 100px
}

.img-responsive.project-overview{
	position: absolute; 
	margin: auto; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	width: 50%;
	height: 50%;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
