/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@media (min-width: 1200px) {

body {
  padding-bottom: 40px;
  color: #666666;
  background-color: #0E1116;
}

h1, h2, h3, h4 { color: #d0d0d0; font-family: 'Roboto Slab', sans-serif; font-size: 150%; font-style: normal; font-weight: bolder; line-height: 20px; margin: 0 0 10px; text-align: center; }

hr {
  border-top: 0px solid #333;
  border-bottom: 2px solid #333;
}

h1 {
  color: #d0d0d0;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 14px;
  /*font-weight: normal;*/
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}
*/

#adapter-name{
 height:20px;
}

#adapter-name option{
 height:20px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 0px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }


  .project-icon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px 10px 5px;
    height: 180px;
    width: 180px;
    float: left;
  }


  .table td {
    border-top: 0;
  }

  .table tr {
    border-top: 0;
  }

  .detail-icon {
    height: 140px;
    width: 180px;


  }

  .overview-icon {
    padding-bottom: 15px;

  }

  .overview-progress {
    width: 140px;
    margin-right: auto;
    margin-left: auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    height: 15px;
    margin-bottom: 20px;
    background-color: #999999;

  }

  .overview-bar {
    height: 100%;
    float: left;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #92D08F;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }


  table#overall-case-stats td {
    text-align: center;

  }

  /*span.highcharts-title {
    width: 100%;
    border: 1px solid white;
  }*/

  .bigboard-container {
    padding: 30px;
  }

  #project-overview {
    padding-left: 0px;
  }

  #project-overview h1 {
    font-size: 48px;
    color: #9f9f9f;
  }

  #project-overview h3 {
    color: #999999;
    font-size: 19px;
    font-weight: normal;
  }

  table#project-overview-table {
    margin-bottom: 5px;
  }

  table#case-activity-resolves,
  table#case-activity-commits,
  table#project-details,
  table#todays-activity-builds {
    color: #d0d0d0;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;

  }

  table#case-activity-resolves tr,
  table#case-activity-commits tr,
  table#todays-activity-builds tr,
  table#project-details tr,
  table#overall-case-stats tr {
    color: #d0d0d0;
    background-color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #424242;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
  }

  table#case-activity-commits a:link,
  table#case-activity-commits a:visited,
  table#case-activity-commits a:hover,
  table#case-activity-commits a:active
  {
    color: #23badf;
  }


  table#case-activity-resolves td,
  table#case-activity-commits td,
  table#case-activity-commits th,
  table#project-details td,
  table#project-details th,
  table#todays-activity-builds td {
    padding: 5px;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    padding-left: 12px;
  }


  table#project-overview-table th {
    padding-left: 0px;
    padding-bottom: 0px;
    color: #999999;
    font-size: 19px;
    font-weight: normal;
  }

  table#project-overview-table td {
    padding-left: 0px;
    padding-top: 4px;
    font-size: 13px;
    color: #3d583c;
  }

  section.table-line, section.table-line:before {
    content:"";
    height:1px;
    background:-moz-linear-gradient(left, #999999 0%,#999999 50%,#000000 100%);
    background:-webkit-linear-gradient(left, #999999 0%,#999999 50%,#000000 100%);
    background:linear-gradient(left, #999999 0%,#999999 50%,#000000 100%);
    width:100%;
    display:block;
  }

  table#overall-case-stats tr.totals {
    padding-left: 0px;
    padding-bottom: 0px;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
  }

  table#overall-case-stats tr.labels {
    padding-left: 0px;
    padding-bottom: 0px;
    color: #9f9f9f;
    font-size: 20px;
    font-weight: normal;
  }

  .labels td {
    padding-top: 25px;
  }

  #bigboard-well {
    /*background-color: #000000;*/
    border: none;
    background:-moz-linear-gradient(top, #222222 0% ,#000000 100%);
    background:-webkit-linear-gradient(top, #222222 0% ,#000000 100%);
    background:linear-gradient(top, #222222 0% ,#000000 100%);
  }

  #bigboard-well h2 {
    font-size: 22px;
  }

  #bigboard-well h4 {
    font-size: 16px;
  }

  #project-content {
    padding-bottom: 10px;
  }

  .alert-label {
    display: inline-block;
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
    border: 1px solid #92D08F;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #b94a48;
  }

  .project-icon li {
    padding-bottom: 10px;
  }

  .project-icon ul {
    z-index:100;
    position: relative;
    left: 165px;
    bottom: 230px;
    height: 75px;
    width: 25px;
    display: inline-block;
  }

  .overlay-support
  {
    position: relative;
    top: 0;
    left: 0;
  }

  .edit {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .header-style {
    border-top: 0px double #8c8b8b;
  }

  .form-background {
    width: 400px;
    margin: auto;
    margin-top:50px;
    border-radius: 12px;
    background: rgba(51, 48, 48, 0.65)
  }

  .header-empty-div {
    height: 20px;
  }

  .footer-empty-div {
    height: 40px;
  }

  .error-div {
    margin-right: 10px;
  }

  .input-form {
    width:300px;
    color:#FFFFFF;
    margin:auto;
  }

  .submit-button {
    text-align:center;
    margin-top:20px;
  }

  .logo-alignment {
    margin-top: 45px;
  }

  .case-status-alignment {
    margin-top:20px;
  }

  .charts {
    height: 400px;
    margin: 0 auto;
  }

  img {
    position: relative;
    float: left;
    width:  140px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  .edit {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
  }

  table#build-activity th {
    text-align: center;
  }

  #autorefresh {
    margin-right: 10px
  }

  #interval{
    height: 30px; 
    width:70px;
    margin-left: 10px;
  }

}