<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../javascripts/jquery.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>VDM</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/theme.css" rel="stylesheet">
    <link href="../stylesheets/bigboard.css" rel="stylesheet">
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


    <script src="../javascripts/ie-emulation-modes-warning.js"></script>
    <script src="../javascripts/function.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
</head>

<body role="document" style="background-color:#242424">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://<%= global.projlink %>">Home</a></li>
                <li><a href="home">Connectors Home</a></li>
                <li class="active"><a href="add">Add</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">
    <% var i = locals.i %>
    <div class="connector-form">
        <div class="header-empty-div"></div>
        <div class="error-div">
            <ul class="messages">
                <div id="alert_required" class="alert alert-danger" style="display: none">
                    <strong>ERROR: </strong>Username, password, server and connector name are required!
                </div>
                <div id="alert_interval" class="alert alert-danger" style="display: none">
                    <strong>ERROR: </strong>Interval must be number!
                </div>
            </ul>
        </div>
        <div class="input-form ">
            <h3 class="text-left">Add Connector</h3>
            <hr style="margin-top:1px;">
            <form action="" method="post" id="form1" onsubmit="return checkForm();">
                <input id="port" type="hidden" name="port" value="">

                <div class="form-group">
                    <label for="pname">Connector Name</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="text" name="pname"
                           id="pname" required placeholder="Connector Name" value=""
                            %>
                    >
                </div>

                <div class="form-group">
                    <label for="port">Service</label>
                    <a data-toggle="tooltip" title="Please allow up to 15 seconds for list of available services to appear">
                        <img src="../icon/tooltip.png" height="15" width="15">
                    </a>
                    <div id="content">

                        <select id="style" name="style" style="width:430px; height:30px; color: black;">

                            <%
                            global.statusMap.forEach(function(value, key) {

                                console.log(key + " : " + value);

                            if(value == "alive"){
                            %>

                            <option value=<%= key %>><%= global.connMap.get(key) %></option>

                            <%
                            }

                            });
                            %>

                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="server">Hosting server</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="text" name="server"
                           id="server" required placeholder="Hosting server" value=""
                            %>
                    >
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="text" name="username"
                           id="username" required placeholder="username" value=""
                            %>
                    >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="password" name="password" id="pw"
                           required placeholder="password" value=""
                            %>
                    >
                </div>

                <div class="form-group">
                    <label for="interval">Data Refresh Interval</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="text" name="interval"
                           id="interval" required placeholder="minutes" value=""
                            %>
                    >
                </div>

                <div style="text-align:center; margin-top:20px">

                    <input id="saveForm" class="btn btn-success btn-lg" type="button" value="Submit" form="form1"
                           onclick="checkForm();"/>
                </div>
            </form>
            <div class="footer-empty-div"></div>
        </div>
    </div> <!-- /container -->
</div>
</body>
</html>
