<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../javascripts/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>VDM</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/theme.css" rel="stylesheet">
    <link href="../stylesheets/bigboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../javascripts/ie-emulation-modes-warning.js"></script>
    <script src="../javascripts/function.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../javascripts/html5shiv.min.js"></script>
    <script src="../javascripts/respond.min.js"></script>

    <![endif]-->


</head>

<body role="document" style="background-color:#242424">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="http://<%=global.projlink%>">Home</a></li>
                <li class="active"><a href="home">Connectors Home</a></li>
                <li><a href="add">Add</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <% var i = locals.i %>
    <div class="connector-form">
        <div class="header-empty-div"></div>
        <div class="error-div">
            <ul class="messages">
                <div id="alert_required_reschedule" class="alert alert-danger" style="display: none">
                    <strong>ERROR: </strong>Username, password, server and connector name are required!
                </div>
                <div id="alert_interval_reschedule" class="alert alert-danger" style="display: none">
                    <strong>ERROR: </strong>Interval must be number!
                </div>
            </ul>
        </div>
        <div class="input-form ">
            <hr>
            <h3>Connector information</h3>
            <hr>
            <form action="" method="post" id="form2" onsubmit="return checkFormReschedule();">

                <div class="form-group">
                    <label style="width: 120px">User name *</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="text" name="username"
                           id="username" value=<%= global.connectors[i].get("username") %>>

                </div>
                <div class="form-group">
                    <label style="width: 120px">Password *</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="password" name="password"
                           id="password" value=<%= global.connectors[i].get("password") %>>
                </div>
                <div class="form-group">

                    <label style="width: 120px">Hosting server *</label>
                    <input class="form-control" style="width:430px" type="text" name="server" id="server"
                           value=<%= global.connectors[i].get("host") %>>
                </div>
                <div class="form-group">
                    <label style="width: 120px">Port *</label>

                    <div id="content">
                        <select id="style" name="style" style="width:430px;color: black;">
                            <%
                            global.statusMap.forEach(function(value, key) {
                                console.log(key + " : " + value);

                            if(value == "alive"){
                            if(global.connectors[i].get("port") == global.connMap.get(key)){
                            %>
                            <option selected="selected" value=<%= key %>><%= global.connMap.get(key) %></option>
                            <% }else{
                            %>
                            <option value=<%= key %>><%= global.connMap.get(key) %></option>

                            <%
                            }

                            }

                            });
                            %>

                        </select>
                    </div>
                </div>
                <div class="form-group">

                    <label style="width: 123px">Connector name </label><br/>
                    <label>  <%= global.connectors[i].get("pname") %></label><input class="form-control"
                                                                                    style="width:430px" id="pname"
                                                                                    type="hidden" name="pname"
                                                                                    value="<%= global.connectors[i].get("pname") %>"></td>
                </div>
                <div class="form-group">
                    <label style="width: 120px">Interval (min) *</label>
                    <input class="form-control" style="width:430px" maxlength="255" type="text" name="interval"
                           id="interval" value=<%= global.connectors[i].get("timeInterval") %>>
                </div>


                <input id="port" type="hidden" name="port" value="">
                <div style="text-align:center; margin-top:20px">
                    <input class="btn btn-success btn-lg" id="Confirm" type="button" form="form2" value="Reschedule"
                           onclick="checkFormReschedule();"/>
                </div>
                <input id="operation" type="hidden" name="operation" value="">
            </form>
            <div class="footer-empty-div"></div>
        </div> <!-- /container -->
    </div>


</div>


<!-- Bootstrap core JavaScript
================================================== -->

</body>
</html>
