<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../javascripts/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>VDM</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/theme.css" rel="stylesheet">
    <link href="../stylesheets/bigboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../javascripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../javascripts/html5shiv.min.js"></script>
    <script src="../javascripts/respond.min.js"></script>
    <![endif]-->


</head>

<body role="document" style="background-color:#242424">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="http://<%=global.projlink%>">Home</a></li>
                <li class="active"><a href="home">Connectors Home</a></li>
                <li><a href="add">Add</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="input-form ">
    <% var message = locals.message %>
    <h3><%=message%>!</h3>


</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->

</body>
</html>
