<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../javascripts/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">


    <title>VDM</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/theme.css" rel="stylesheet">
    <link href="../stylesheets/bigboard.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../javascripts/ie-emulation-modes-warning.js"></script>
    <script src="../javascripts/function.js"></script>

</head>

<body role="document" onload="refresh();" style="background-color:#242424">


<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li ><a href="http://<%=global.projlink%>">Home</a></li>
                <li class="active"><a href="home">Connectors Home</a></li>
                <li><a href="add">Add</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="connector-form">
        <div class="header-empty-div"></div>
        <div class="input-form" style="width: 800px;  float: center;">
        <BR><BR>
            <h3 class="text-center">Connector List</h3>
            <hr style="margin-top:1px;">
            <div id="content" style="content: none;">
                <table class="table table-bordered" style="border: transparent;">
                    <tbody>
                        <td style="width:200px; font-weight:bold; color:#d0d0d0; border:transparent; border-bottom: 1px solid #d0d0d0;">Name</td>
                        <td style="width:200px; font-weight:bold; color:#d0d0d0; border:transparent; border-bottom: 1px solid #d0d0d0;">Hosting Server</td>
                        <td style="width:100px; font-weight:bold; color:#d0d0d0; border:transparent; border-bottom: 1px solid #d0d0d0;">Service</td>
                        <td align="center" style="width:50px; font-weight:bold; color:#d0d0d0; border:transparent; border-bottom: 1px solid #d0d0d0;">Interval</td>
                        <td align="center" style="width:50px; font-weight:bold; color:#d0d0d0; border:transparent; border-bottom: 1px solid #d0d0d0;">Status</td>

                    <% for(var i = 0; i < global.connectors_count; i++) {
                    %>
                    <tr>
                        <td style="width:200px; border:transparent;"><a style="color:#0391ba;font-weight:bold;"
                                                   href="showDetailConnector?i=<%= i %>"><%= global.connectors[i].get("pname") %></a>
                        </td>
                        <td style="width:200px; border:transparent; color:#d0d0d0;">
                         <%=global.connectors[i].get("host") %>
                        </td>
                        <td style="width:100px; border:transparent; color:#d0d0d0;">
                         <%=global.connectors[i].get("port") %>
                        </td>
                        <td align="center" style="width:50px; border:transparent; color:#d0d0d0;">
                         <%=global.connectors[i].get("timeInterval") + ' min'%>
                        </td>
                        <td align="center" style="border:transparent; color:#d0d0d0;">
                            <% console.log("home page:", global.connectors[i].get("port"));

                            if(global.statusMap.get(global.reverseconnMap.get(global.connectors[i].get("port"))) == "alive"){ %>
                            <center><img src="../icon/greenspot.png" height="20" width="20"/></center>
                            <% }else{ %>
                            <center><img src="../icon/redspot.png" height="20" width="20"/></center>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="footer-empty-div"></div>
        </div>
    </div>
</div>
</body>
</html>