<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../javascripts/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>VDM</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/theme.css" rel="stylesheet">
    <link href="../stylesheets/bigboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../javascripts/ie-emulation-modes-warning.js"></script>
    <script src="../javascripts/function.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../javascripts/html5shiv.min.js"></script>
    <script src="../javascripts/respond.min.js"></script>
    <![endif]-->


</head>

<body role="document" style="background-color:#242424">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="http://<%=global.projlink%>">Home</a></li>
                <li class="active"><a href="home">Connectors Home</a></li>
                <li><a href="add">Add</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">
    <% var i = locals.i %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="connector-form">
        <div class="header-empty-div"></div>
        <div class="input-form ">
            <hr>
            <h3>Connector information</h3>
            <hr>


            <form action="" method="post" id="form2">

                <div class="form-group">
                    <label style="width: 120px">User name</label>
                    <label style="width: 120px"><%= global.connectors[i].get("username") %></label><input id="username"
                                                                                                          type="hidden"
                                                                                                          name="username"
                                                                                                          value="<%= global.connectors[i].get("username") %>">

                </div>
                <div class="form-group">
                    <label style="width: 120px">Password</label>
                    <label style="width: 120px">******</label> <input id="password"
                                                                                                           type="hidden"
                                                                                                           name="password"
                                                                                                           value="<%= global.connectors[i].get("password") %>">
                </div>

                <div class="form-group">
                    <label style="width: 120px">Hosting server</label>

                    <label style="width: 160px"><%= global.connectors[i].get("host") %></label>
                    <input id="server" type="hidden" name="server" value=<%= global.connectors[i].get("host") %>>
                </div>
                <div class="form-group">
                    <label style="width: 120px">Port</label>
                    <label style="width: 120px"><%= global.connectors[i].get("port") %> </label><input id="port"
                                                                                                       type="hidden"
                                                                                                       name="port"
                                                                                                       value="<%= global.reverseconnMap.get(global.connectors[i].get("port")) %>"></div>
                <div class="form-group">
                    <label style="width: 120px">Connector name</label>
                    <label style="width: 120px"><%= global.connectors[i].get("pname") %></label><input id="pname"
                                                                                                       type="hidden"
                                                                                                       name="pname"
                                                                                                       value="<%= global.connectors[i].get("pname") %>">
                </div>
                <div class="form-group">
                    <label for="interval" style="width: 120px">Interval</label>
                    <label style="width: 120px"><%= global.connectors[i].get("timeInterval") %></label> <input
                            id="interval" type="hidden" name="interval"
                            value=<%= global.connectors[i].get("timeInterval") %>>
                </div>


                <div style="text-align:center; margin-top:20px">
                    <input class="btn btn-success btn-lg" id="Reschedule" type="button" form="form2" value="Edit"
                           onclick="editConnection(<%= i %>);"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="btn btn-success btn-lg" id="Cancel" type="button" form="form2" value="Delete"
                           onclick="deleteConnection();"/>
                    <input id="operation" type="hidden" name="operation" value="">
                    <input id="connector" type="hidden" name="connector" value="">


                </div>

            </form>
            <div class="footer-empty-div"></div>
        </div> <!-- /container -->


    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>
</html>
